* {
    box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 font-family: 'Julius Sans One', sans-serif;
 background: url('https://awoiaf.westeros.org/images/thumb/f/f6/Agot_hbo_guide_map.jpg/1599px-Agot_hbo_guide_map.jpg') fixed;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    color: aliceblue;
}

.got-logo,
.status {
    display: flex;
    justify-content: flex-end;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}


.logo {
    width: 200px;
    height: 125px;
    border-radius: 3px;
}

header ul li {
    list-style: none;
    text-align: center;
    font-size: 30px;
    padding: 15px 20px;
    display: inline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
}

.intro {
    border: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    color: rgb(253, 253, 252);
    text-transform: uppercase;
    font-weight: normal;
}

.intro .background {
 margin: 30px;
 background: rgba(171, 205, 239, 0.3); /* Blue background with 30% opacity */
 border-radius: 3px;
 filter: alpha(opacity=60); /* For IE8 and earlier */
}

.background h1 {
    margin: 5%;
    font-weight: bolder;
    opacity: default;
    color: rgb(78, 7, 7);  
}

button {
    border: black;
    background-color: rgb(78, 7, 7);
    color: aliceblue;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
}

button:hover, button:focus {
    background-color: rgb(11, 77, 97);
    color: rgb(180, 159, 66);
}

/*
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
*/
@media screen and (min-width: 600px) {

    header {
     justify-content: space-evenly;
     padding: 10px;
     background: purple;
   }
    

  
    
  }

  @media screen and (min-width: 780px) {

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 10px;
      background: orange;
    }
   
    .got-logo,
    .status {
      display: flex;
      align-items: center;
      list-style: none;
    }

    main {
      flex-direction: column;
      justify-content: space-between;
      padding: 5px;
    }
      
   }